<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Class List</title>
    <link href="DanhSachLopHoc.css" rel="stylesheet">
</head>
<body>
<header>
    <h1>My Class List</h1>
    <nav>
        <a class="btn btn-home" th:href="@{${homePage}}">🏠 Back to Home</a>
    </nav>
</header>
<main class="container">
    <!-- Phân chia màn hình thành 2 cột -->
    <section class="section left">
        <h2>Traditional Class</h2>
        <ul>
            <th:block th:each="room : ${rooms}">
                <li>
                    <a th:href="@{'/ChiTietLopHocBanThamGia/' + ${room.roomId}}"
                       th:text="${room.roomName} "></a>
                </li>
            </th:block>
        </ul>
    </section>
    <section class="section right">
        <h2>Online Class</h2>
        <ul>
            <th:block th:each="onlineRoom : ${onlineRooms}">
                <li>
                    <a th:href="@{'/ChiTietLopHocBanThamGia/' + ${onlineRoom.roomId}}"
                       th:text="${onlineRoom.roomName}"></a>
                </li>
            </th:block>
        </ul>
    </section>
</main>
</body>
</html>
