<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link href="/SuaBaiDangCaNhan.css" rel="stylesheet">
    <meta charset="UTF-8">
    <a th:href="@{'/ChiTietLopHocBanThamGia/' + ${room?.roomId}}">
        <i class="fas fa-user"></i> Back to
    </a>
    <title>Update Post</title>
</head>

<body>
<h1>Update Post</h1>

<!-- Hiển thị thông tin bài đăng -->
<form enctype="multipart/form-data" method="post" th:action="@{'/UpdateBaiPost'}">
    <!-- Ẩn ID bài đăng -->
    <input name="postId" th:value="${post.postId}" type="hidden">

    <!-- Ẩn roomId để gửi lên Server -->
    <input name="roomId" th:value="${post.room.roomId}" type="hidden">

    <!-- Nội dung bài đăng -->
    <label for="postContent">Content:</label>
    <textarea id="postContent" name="postContent" required th:text="${post.content}"></textarea>

    <!-- Tệp đính kèm -->
    <div th:if="${document != null}">
        <p>📄 Current file: <span th:text="${document.documentTitle}"></span></p>
    </div>
    <label for="file">🔄 Choose new file (if needed):</label>
    <input accept=".pdf,.doc,.docx,.png,.jpg,.jpeg,.zip,.mp4,.avi,.mov" id="file" name="file" type="file">

    <button type="submit">Update</button>
</form>

<a href="/BaiDangCaNhan">Back to</a>
</body>

</html>