<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Chi Tiết Tin Nhắn Của Bạn</title>
    <link href="/TinNhanCuaGiaoVien.css" rel="stylesheet">
</head>
<body>

<div class="container">
    <a th:href="@{/{trangchu}(trangchu=${trangchu})}">Quay về Trang Chủ</a>
    <h2>Danh Sách Những Người Đã Nhắn Tin</h2>

    <!-- Hiển thị danh sách người đã nhắn tin với giáo viên -->
    <div>
        <h3>Những người đã nhắn tin với bạn:</h3>
        <ul>
            <li th:each="contact : ${contacts}">
                <!-- Liên kết đến trang cá nhân -->
                <a th:href="@{/TrangCaNhan/{recipientID}(recipientID=${contact.id})}"
                   th:text="${contact.getFirstName()}">Tên người liên lạc</a>

                <!-- Nút gửi tin nhắn -->
                <a class="btn btn-primary"
                   th:href="@{/ChiTietTinNhan/{recipientID}(recipientID=${contact.id})}"
                   th:text="'Nhắn tin với ' + ${contact.getFirstName()}"></a>
            </li>
        </ul>
    </div>

</div>

</body>
</html>
