<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Change Password</title>
    <link href="/DoiMatKhau.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet">
</head>
<body>

<header>
    <h1>Change Password</h1>
</header>

<main>
    <section class="password-reset-section">
        <h2><i class="fas fa-lock"></i> Change Password</h2>
        <form action="/XuLyDoiMatKhau" method="post">
            <div class="form-group">
                <label for="currentPassword"><i class="fas fa-key"></i> Current Password:</label>
                <input autocomplete="off" id="currentPassword" name="currentPassword"
                       placeholder="Enter current password"
                       required type="password">
            </div>

            <div class="form-group">
                <label for="newPassword"><i class="fas fa-lock"></i> New Password:</label>
                <input autocomplete="off" id="newPassword" name="newPassword" placeholder="Enter new password" required
                       type="password">
            </div>

            <div class="form-group">
                <label for="confirmPassword"><i class="fas fa-check"></i> Confirm Password:</label>
                <input autocomplete="off" id="confirmPassword" name="confirmPassword"
                       placeholder="Re-enter new password"
                       required type="password">
            </div>

            <button type="submit"><i class="fas fa-save"></i> Change Password</button>
        </form>
    </section>

    <section class="navigation-section">
        <a class="btn" href="/TrangCaNhan"><i class="fas fa-arrow-left"></i> Back to Personal Page</a>
    </section>
</main>

</body>
</html>
